body {
    background-color: #F0F9FF;
}

header {
    padding-top: 40px;
}

.texte {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

#slogo {
    font-family: "Rubik Bubbles", serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 22px;
    margin-top: 2px;
    font-size: 40px;
    color: #F4EEC2;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #052032;
}

.bouton {
    background-color: #F4EEC2;
    border-radius: 20px;
    border: solid 1px;
}

ul {
    list-style: none;
    display: flex;
}

#navflex {
    display: flex;
    justify-content: center;
}

.nav {
    display: flex;
    position: fixed;
    top: 13px;
    overflow: hidden;
    background-color: #0520322e;
    width: 55%;
    backdrop-filter: blur(6px);
    border-radius: 40px;
    z-index: 1;
}

.rightnav {
    display: flex;
    justify-content: flex-end;
    width: 87%;
    gap: 28px;
    margin-right: 17px;
    margin-top: 9px;
    margin-bottom: 10px;
    border-left: #052032 solid 1px;
}

.motnav {
    display: flex;
    align-items: center;
    margin: 1px;
}

.leftnav {
    display: flex;
    width: 80%;
}

#trait {
    background-color: #052032;
    width: 1.3px;
    height: 31px;
    margin-top: 9px;
    border-radius: 10%;
    margin-left: 15px;
    margin-right: 22px;
}

a {
    text-decoration: none;
    color: #052032;
}

.imgintro {
    margin: 25px;
    height: 500px;
    background-image: url(backgroundv2.PNG);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.heading {
    font-family: "Gaegu", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    margin-bottom: 60px;
    text-shadow: 4px 2px #F4EEC2;
    color: #052032;
}

#allsection {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}

#fondjaune {
    background-color: #F2E9A9;
    height: 1800px;
}

#fondviolet {
    background-color: #F5DEFF;
    height: 1225px;
}

#fondrouge {
    background-color: #FFD6D6;
    height: 1400px;
}

.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 86%;
    border: #052032 solid 1px;
    border-radius: 25px;
    gap: 60px;
    justify-content: center;
}

.bloctexte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5F5FF;
    width: 89%;
    height: 220px;
    border: #052032 solid 1px;
    border-radius: 25px;
    align-items: center;
}

.traitun {
    height: 1px;
    width: 50%;
    background-color: #052032;
}

#pUn {
    width: 86%;
    margin: 19px;
    text-align: center;
}

#test {
    height: 10px;
    background-color: aqua;
    width: 30px;
}

#separation {
    height: 1px;
    width: 65%;
    background-color: #052032;
}

#DivJS {
    display: flex;
    flex-wrap: wrap;
    gap: 83px;
    justify-content: center;
}

.cardjs {
    width: 36%;
    background-color: #F7F1C2;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #052032;

    overflow: hidden;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 300ms;
}

.cardjs:hover {
    transform: translateY(-2px);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: inherit;
}

#cardjs1 {
    ,
}

#image1 {
    background-image: url(Capture.PNG);
    background-size: cover;
    height: 149px;
    width: 335px;
    background-repeat: no-repeat;
    border: solid, 1px, ;
    border-radius: 6px;
}

#image2 {
    background-image: url(Capture_2.PNG);
    background-size: cover;
    height: 149px;
    width: 335px;
    background-repeat: no-repeat;
    border: solid, 1px, ;
    border-radius: 6px;
}

#image3 {
    background-image: url(Capture3.PNG);
    background-size: cover;
    height: 149px;
    width: 335px;
    background-repeat: no-repeat;
    border: solid, 1px, ;
    border-radius: 6px;
}

#image4 {
    background-image: url(Capture4.PNG);
    background-size: cover;
    height: 149px;
    width: 335px;
    background-repeat: no-repeat;
    border: solid, 1px, ;
    border-radius: 6px;
}

#image5 {
    background-image: url(Capture5.PNG);
    background-size: cover;
    height: 149px;
    width: 335px;
    background-repeat: no-repeat;
    border: solid, 1px;
    border-radius: 6px;
}

#image6 {
    background-image: url(Capture6.PNG);
    background-size: cover;
    height: 149px;
    width: 335px;
    background-repeat: no-repeat;
    border: solid, 1px;
    border-radius: 6px;
}

#image7 {
    background-image: url(Capture7.PNG);
    background-size: cover;
    height: 149px;
    width: 335px;
    background-repeat: no-repeat;
    border: solid, 1px, ;
    border-radius: 6px;
}


.traitjs {
    background-color: #052032;
    width: 284px;
    height: 1px;
    margin-top: 29px;
}

.titrejs {
    color: #052032;
}

.descriptionjs {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5px;
    color: #052032;
}

/* #fakepage {
    background-color: #E5F5FF;
    height: 368px;
    width: 600px;
    border-radius: 30px;
    border: #052032 solid 1px;
    margin-right: 100px;
    margin-left: 20px;
    margin-top: 15px;
} */

/* #fakepageimg {
    height: 160px;
    margin: 60px;
    margin-top: 20px;
} */


#aboutme {
    display: flex;
    flex-direction: column;
    gap: 40px
}

.titleaboutme {
    display: flex;
    margin-right: 50px;
    margin-left: 50px;
}

#whoIAm {}

.htroisRouge {
    margin-top: unset;
    margin-left: 7px;
    font-size: 1.5em;
    margin-bottom: 12px;
}

.titreTrait {
    width: 30%;
}

.traitRougeUn {
    width: 80%;
    background-color: #052032;
    height: 1px;
}

#skills {}

#scolarship {}

.contentRouge {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#lycee {}

.contentRougeTitre {
    display: flex;
    gap: 25px;
    align-items: flex-end;
}

.hquatreRouge {
    margin-top: unset;
    margin-left: 7px;
    font-size: 1.5em;
    margin-bottom: 12px;
}

.hcinqRouge {
    margin-top: unset;
    margin-left: 7px;
    font-size: 1.3em;
    margin-bottom: 12px;
    font-weight: 100;
}

.traitRougeDeux {
    width: 100%;
    height: 1px;
    background-color: #052032;
}

.contentRougeDott {
    display: flex;
    gap: 50px;
    margin-left: 15px;
    margin-right: 15px;
}

.contentRougeDottUn {
    width: 30%;
}

#emlyon {}

#workExp {}

#hopital {}

#vente {}





.legende {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    margin-left: 40px;
}

.bloctextedeux {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #CAEAFF;
    width: 375px;
    height: 368px;
    border: #052032 solid 1px;
    border-radius: 30px;
    margin: 15px;
}

#pdeuxbun {
    width: 250px;
}

.traitdeux {
    height: 1px;
    width: 500px;
    background-color: #052032;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#fakeinsta {
    background-color: #CAEAFF;
    height: 250px;
    width: 350px;
    border-radius: 30px;
    border: #052032 solid 1px;
    margin-right: 50px;
    margin-left: 200px;
    margin-top: 70px;
}

#fakeinstaimg {
    height: 150px;
    margin-left: 70px;
    margin-top: 20px;
}

#hunpdeux {
    text-align: center;
}

.traitrois {
    height: 1px;
    width: 230px;
    background-color: #052032;
    margin-left: 60px;
}

#fakenavigateur {
    background-color: #E5F5FF;
    height: 368px;
    width: 600px;
    border-radius: 30px;
    border: #052032 solid 1px;
    margin-right: 100px;
    margin-left: 20px;
    margin-top: 15px;

}

#barrerecherche {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border: #052032 solid 1px;
    border-radius: 26px;
    width: 600px;
    height: 42px;
    background-color: #E5F5FF;
}

#allcards {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    height: 260px;
}

.fa-solid {
    margin-right: 20px;
}

.minicard {
    background-color: #CAEAFF;
    height: 200px;
    width: 180px;
    border-radius: 30px;
    border: #052032 solid 1px;
}

.internedeux {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.boutonbas {
    margin-left: 225px;
}

/* .reseaux {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px;
}

.fa-brands {
    font-size: 40px;
    color: #052032;
    margin-right: 10px;
}

.fa-regular {
    font-size: 40px;
    color: #052032;
    margin-right: 10px;
} */

/* .leftfooter {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    border-left: #052032 1px solid;
}

.navdown {
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #CAEAFF;
}

.rightnavdown {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 45px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
} */

#comboviolet{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
    justify-content: center;
}
#introfondviolet {
    background-color: #F5DEFF;

}

#titleviolet {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 730px;
}

#hcinqViolettitle{
    font-weight: 100;
    margin-bottom: 5px;
    margin-top: 25px;
}

#hquatreViolettitle{
    font-size: 25px;
    margin-top: unset;
    margin-bottom: 25px;;
}

.fa-instagram{
    font-size: 35px;
}

#contentviolet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#contentvioletUn {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    gap: 20px;
}

#contentvioletDeux {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    gap: 20px;
}

#pviolet{
    text-align: center;
}

.bigbuton{
    width: 150px;
    background-color: #F2E9A9;
    border: #052032 1px solid;
    border-radius: 20px;
    height: 25px;
}

#contentvioletTrois {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    gap: 20px;
}

#contentviolettroish{
    display: flex;
    flex-direction: column;
    align-items: end;
}

#img {
    height: 450px;
    border-radius: 10px;
    border: #052032 solid 1px;
}

.hquatreViolet{
    font-size: 22px;
    margin-bottom: unset;
}

.hcinqViolet{
font-weight: 100;
margin: 5px;
}

#fondbleu {
    background-color: #CAEAFF;
    height: 400px;
}

#footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: #052032 1px solid;
    margin-top: 100px;
    height: 100%;
    justify-content: space-between;
}

#topfooter{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hfooter{
    font-family: "Gaegu", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    margin-bottom: 60px;
    /* text-shadow: 4px 2px #F4EEC2; */
    color: #052032;
    margin-top: 80px;

}

#footfooter{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 715px;
}

#linkfooter{
    display: flex;
    align-items: center;
}
#traitvertic{
    height: 20px;
    width: 1px;
    background-color: #052032;
    margin-right: 10px;
    margin-left: 10px;

}