body{
    background-color: #F0F9FF;
}
header{
    padding-top: 40px;
}
.texte{
    font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style : normal;
  font-variation-settings:"wdth" 100;
}
#slogo{
    font-family: "Rubik Bubbles", serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 10px;
  font-size: 40px;
  color: #F4EEC2;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #052032;
}
.bouton{
    background-color: #F4EEC2;
    border-radius: 20px;
    border: solid 1px;
}
ul{
    list-style: none;
    display: flex;
}
.nav{
    display: flex;
    margin-left: 24px;
    margin-right: 24px;
    border-right: solid 1px #052032;
    border-bottom: solid 1px #052032;
    border-left: solid 1px #052032;
    position: fixed;
    top: 0;
    overflow: hidden;
    background-color: #F0F9FF;
    width: calc(100% - 48px);
}
.rightnav{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 45px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-left: #052032 solid 1px;
}
.motnav{
    display: flex;
    align-items: center;
    margin: 1px;
}
.leftnav{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    border-left: #052032 1px solid;
}
#trait{
    background-color: #052032;
    width: 2px;
    height: 40px;
    margin: 10px;
    margin-top: 4px;
    border-radius: 10%;
}
a{
    text-decoration: none;
}
.imgintro{
    margin: 25px;
    height: 500px;
    background-image: url(backgroundv2.PNG);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.heading{
    font-family: "Gaegu", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    margin-bottom: 60px;
    text-shadow: 4px 2px #F4EEC2;
    color: #052032;
}
#fondjaune{
    background-color: #F4EEC2;
}
#fondviolet{
    background-color: #F5DEFF;
}
#fondrouge{
    background-color: #FFD6D6;
}
.parent{
    display: flex;
    justify-content: space-between;
    margin: 25px;
    margin-bottom: 40px;
    margin-top: 40px;
    width: 1215px;
    height: 400px;
    border: #052032 solid 1px;
    border-radius: 30px;
}
.bloctexte{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #E5F5FF;
    width: 375px;
    height: 368px;
    border: #052032 solid 1px;
    border-radius: 30px;
    margin: 15px;
}
.bloctextedeux{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #CAEAFF;
    width: 375px;
    height: 368px;
    border: #052032 solid 1px;
    border-radius: 30px;
    margin: 15px;
}
.interne{
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 30px;
}
.boutonbloc{
    width: 200px;
}
.traitun{
    height: 1px;
    width: 200px;
    background-color: #052032;
    margin-left: 40px;
}
#fakepage{
    background-color: #E5F5FF;
    height: 368px;
    width: 600px;
    border-radius: 30px;
    border: #052032 solid 1px;
    margin-right: 100px;
    margin-left: 20px;
    margin-top: 15px;
}
#fakepageimg{
    height: 160px;
    margin: 60px;
    margin-top: 20px;
}
.legende{
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    margin-left: 40px;
}
#pdeuxbun{
    width: 250px;
}
.traitdeux{
    height: 1px;
    width: 500px;
    background-color: #052032;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#fakeinsta{
    background-color: #CAEAFF;
    height: 250px;
    width: 350px;
    border-radius: 30px;
    border: #052032 solid 1px;
    margin-right: 50px;
    margin-left: 200px;
    margin-top: 70px;
}
#fakeinstaimg{
    height: 150px;
    margin-left: 70px;
    margin-top: 20px;
}
#hunpdeux{
    text-align: center;
}
.traitrois{
    height: 1px;
    width: 230px;
    background-color: #052032;
    margin-left: 60px;
}
#fakenavigateur{
    background-color: #E5F5FF;
    height: 368px;
    width: 600px;
    border-radius: 30px;
    border: #052032 solid 1px;
    margin-right: 100px;
    margin-left: 20px;
    margin-top: 15px;
    
}
#barrerecherche{
    margin-top: 15px;
    margin-left: 100px;
    padding-left: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border: #052032 solid 2px;
    border-radius: 20px;
    width: 400px;
    height: 35px;
}
#allcards{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    height: 260px;
}
.fa-solid{
    margin-right: 20px;
}
.minicard{
    background-color: #CAEAFF;
    height: 200px;
    width: 180px;
    border-radius: 30px;
    border: #052032 solid 1px;
}
.internedeux{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
.boutonbas{
    margin-left: 225px;
}
.reseaux{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px;
}
.fa-brands{
    font-size: 40px;
    color: #052032;
    margin-right: 10px;
}
.fa-regular{
    font-size: 40px;
    color: #052032;
    margin-right: 10px;
}